/* Navbar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}
.navbar ul li a{
    padding: 3px 5px;
}
.navbar ul li a:hover{
    box-shadow: 0 0 5px white;
}

/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

/* ABout */
#pic img{
    width: 150px;
    height: 125px;
}

#intro h2{
    font-size: 1.5rem;
}

/* Portfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}

/* Contact */
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
#send{
    width: 20%;
}